@font-face {
    font-family: iransansbold;
    src: url("../fonts/IRANSansX-Bold.otf") format("otf"),
      url("../fonts/IRANSansX-Bold.ttf") format("ttf"),
      url("../fonts/IRANSansX-Bold.woff") format("woff"),
      url("../fonts/IRANSansX-Bold.woff2") format("woff2");
  }
@font-face {
    font-family: iransans;
    src: url("../fonts/IRANSansX-Regular.otf") format("otf"),
      url("../fonts/IRANSansX-Regular.ttf") format("ttf"),
      url("../fonts/IRANSansX-Regular.woff") format("woff"),
      url("../fonts/IRANSansX-Regular.woff2") format("woff2");
  }
*{
    font-family: iransansbold;
}
p{
  font-family: iransans !important;
}
h2 {
  font-size: 30px;
  background: -webkit-linear-gradient(rgb(0, 118, 173), rgb(0, 12, 184));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.telegram{
  font-size: small;
}
.color-top-image{
  background: #f8f9fa;
}
.flex{
  display: flex;
}
footer{
  margin: 0 !important;
  padding: 0 !important;
}